<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuejs client API</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/cross-fetch/dist/cross-fetch.js"></script>
  <style>
    body {
      margin: 2rem 15%;
    }
    form {
      margin: 1rem 0;
    }
    form div {
      margin-bottom: 1rem;;
    }
    article {
      margin: 0 0 2rem;
    }
    article h2,
    section h3 {
      border-bottom: 1px solid gray;
    }
    article section {
      padding: 0 2rem;
      border: 1px solid gray;
      border-radius: 1rem;
    }
    .text-right {
      text-align: right;
      font-style: italic;
      margin: -1rem 0 0 0;
    }
  </style>
</head>
<body>
  <h1>Vuejs client API</h1>
  <div id="app">
    <button v-on:click="handleClick">
      {{ creating ? "Fermer le formulaire" : "Ajouter un article" }}
    </button>
    <form v-if="creating">
      <div>
        <input type="text" id="title" placeholder="Titre" v-model="title"/>
      </div>
      <div>
        <textarea id="content" placeholder="Contenu" v-model="content"></textarea>
      </div>
      <div>
        <button v-on:click="handleSubmit">Envoyer</button>
      </div>
    </form>
    <hr />
    <article v-for="post in posts">
      <h2>{{ post.title }}</h2>
      <p class="text-right">{{ formatDate(post.createdAt) }}</p>
      <p>{{ post.content }}</p>
      <section v-for="com in post.comments">
        <h3>{{ com.username }}</h3>
        <p class="text-right">{{ formatDate(com.createdAt) }}</p>
        <p>{{ com.content }}</p>
      </section>
    </article>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        pending: true,
        creating: false,
        posts: [],
        title: '',
        content: ''
      },
      methods: {
        handleClick: function(event) {
          this.creating = !this.creating;
        },
        handleSubmit: function(event) {
          event.preventDefault();
          const { title, content } = this;
          fetch('http://127.0.0.1:8000/api/post', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ title, content })
          })
            .then(res => res.json())
            .then(data => {
              if (data.detail){ alert(data.detail); }
              else {
                this.title   = '';
                this.content = '';
                this.creating = false;
                this.posts.unshift(data);
                alert('Article enregistré avec l\'identifiant ' + data.id);
              }
            });
        },
        formatDate: str => {
          const date = new Date(str);
          return `Posté le ${date.getDay()}/${date.getMonth()}/${date.getFullYear()}`
        }
      },
      mounted() {
        fetch('http://127.0.0.1:8000/api/post')
          .then(res => res.json())
          .then(posts => {
            this.pending = false;
            this.posts = posts;
          });
      }
    });
  </script>
</body>
</html>