<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le CRUD PHP</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>

  <header>
    <h1>Mon CRUD</h1>
    <nav>
      <a href="create.html" class="current">create</a>
      <a href="read.html">read</a>
      <a href="update.html">update</a>
      <a href="delete.html">delete</a>
    </nav>
  </header>

  <main>
    <form method="POST" action="../controllers/create_ctrl.php">

      <fieldset>
        <label for="pseudo">Pseudo:</label>
        <input type="text" id="pseudo" name="pseudo"
          required
          pattern="\w{4,}"
          title="Le pseudo doit contenir quatre caratères au minimum."
        >
      </fieldset>

      <fieldset>
        <label for="mot_de_passe">Mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe"
          required
          pattern="\w{4,}"
          title="Le mot de passe doit contenir quatre caratères au minimum."
        >
      </fieldset>

      <fieldset>
        <label for="description">Description:</label>
        <textarea id="description" rows="5" name="description"
          required
          title="La description doit être renseignée."
        ></textarea>
      </fieldset>

      <fieldset>
        <input type="submit" value="Envoyer">
      </fieldset>

    </form>
  </main>

</body>
</html>