body {
  max-width: 600px;
  margin: 0 auto;
}
header h1 {
  text-align: center;
}
header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 0 2em;
}
header nav .current {
  color: #000;
  text-decoration: none;
}
main form fieldset {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0 1em;
  border: 0;
}
main form label {
  flex: 1 0 120px;
}
main form input,
main form textarea {
  flex: 1 0 240px;
}
.alert {
  padding: 1em 1em;
  border-radius: .5em;
}
.error {
  background: pink;
  border: 1px solid red;
}
.success {
  background: lightgreen;
  border: 1px solid green;
}